section.coloredBox {
  background-color: #ae0010 !important;
  color: white !important;
  margin-bottom: 44px;
}
h3.coloredBox {
  color: white !important;
  font-weight: bold !important;
  letter-spacing: 1px !important;
}

ul.coloredBox {
  list-style: none !important;
}

strong.coloredBox {
  color: white !important;
}
